{% set locale = app.request.getLocale() %}
{% set page_name = app.request.get('_route') %}
{% set route_params = app.request.get('_route_params') %}

<header class="header">
    <div class="container">
        <div class="">
            <img src="{{ absolute_url(asset('build/images/icon_web.png')) }}" alt="" width="150" height="150"/>
            <h1 style="margin:10px 0 0;">Building Elevator Simulator</h1>
            <h3 style="margin:0 0 10px;">Part 2 - Integrate the simulator in a Symphony project</h3>
        </div>
        <nav class="menu">
            <a href="{{ absolute_url(path('results')) }}">Resultats</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{{ absolute_url(path('info')) }}">Consideracions</a>
        </nav>
    </div>
</header>
