{% set locale = app.request.getLocale() %}
<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8">
        <title>Building Elevator Simulator</title>
        <meta name="author" content="Arnau Pujol Cabarrocas">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="keywords" content="">

        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ absolute_url(asset('build/favicon/apple-touch-icon.png')) }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ absolute_url(asset('build/favicon/favicon-32x32.png')) }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ absolute_url(asset('build/favicon/favicon-16x16.png')) }}">
        <link rel="manifest" href="{{ absolute_url(asset('build/favicon/site.webmanifest')) }}">
        <link rel="mask-icon" href="{{ absolute_url(asset('build/favicon/safari-pinned-tab.svg')) }}" color="#333333">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link href="{{ asset('build/css/web.css') }}" rel="stylesheet"/>

    </head>

    <body class="">

        {# header #}
        {% include('/inc/header.html.twig') %}

        {# content #}
        <div class="main">
            <div id="content" class="container">
                {% block content %}
                    <p>Default body content...</p>
                {% endblock %}
            </div>
        </div>

        {# footer #}
        {% include('/inc/footer.html.twig') %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ asset('build/js/web.js') }}"></script>
    </body>
</html>
