{% extends '/base.html.twig' %}

{% block content %}
<div>
    <h3>Consideracions:</h3>
    <ul>
        <li>
            <p>
                Els moviments es generen a partir d'un script segons unes seqüències donades de forma aleatòria, no és informació real que es reculli d'una base de dades (en una base de dades tindríem almenys dues taules: una pels ascensors i una altra amb els moviments relacionades per la id de l'ascensor).
            </p>
        </li>
        <li>
            <p>
                A l'hora de generar els moviments en l'script s'escull l'ascensor de forma completament aleatòria, això fa que els resultats siguin diferents cada cop que s'executa. Podríem haver tingut en compte si ja s'estava utilitzant l'ascensor en el minut concret, i seleccionar dels que no s'utilitzen el que es troba en un pis més proper (o aleatòriament si diversos ascensors que no s'estan utilitzant es troben en el mateix pis), d'aquesta manera reduiríem l'aleatorietat i obtindríem resultats més similars en cada execució de l'script.
            </p>
        </li>
        <li>
            <p>
                Considerem també que els moviments són independents i que els usuaris no comparteixen ascensor, podríem considerar-ho en els viatges de pujada amb diferents parades.
            </p>
        </li>
        <li>
            <p>
            Recorrem els minuts del dia per simular els moviments segons les seqüències donades, considerant els intervals de la forma (inici,fi] per mantenir els valors inicials en 00:00. Quan es diu cada n minuts considerem que $minut_dia % n == 0 (on $minut_dia va de 0 a 1440).
            </p>
        </li>
    </ul>
</div>
{% endblock %}
