{% extends '/base.html.twig' %}

{% block content %}
<p>
    The application must process provided sequences and generate a <strong>report that shows for each minute from 09:00h to 20:00h</strong>:
    <ul>
        <li>The floor on which each elevator is located at that time.</li>
        <li>The total number of floors traveled by each elevator up to that point.</li>
    </ul>
</p>
<h3>Results:</h3>
<table style="width:100%;max-width:900px;border:1px solid #999;border-collapse:collapse;">
    <thead>
        <tr style="border-bottom:1px solid #999;">
            <th style="text-align:center;padding:5px;">Minute</th>
            {% for i in 1..elevators_num %}
                <th style="text-align:center;padding:5px;">E{{ i }} Floor</th>
                <th style="text-align:center;padding:5px;">E{{ i }} Traveled Floors</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            {% set color = loop.index % 2 == 0 ? '#f5f5f5' : '#fff' %}
            <tr style="background-color:{{ color }};">
                <td style="text-align:center;padding:5px;">{{ result.hour }}</td>
                {% for i in 1..elevators_num %}
                    {% set attr_1 = 'el_' ~ i ~ '_actual' %}
                    <td style="text-align:center;padding:5px;">{{ attribute(result, attr_1) }}</td>
                    {% set attr_2 = 'el_' ~ i ~ '_traveled' %}
                    <td style="text-align:center;padding:5px;">{{ attribute(result, attr_2) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
